.button {
  margin: 0 10px;
}
.setting {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.setting-item {
  margin: 0 10px;
}
.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}
.status-item {
  margin: 0 10px;
}