@import './variables.scss';

body {
  font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
  font-size: 15px;
}

html {
  font-size: 10px;
}

@media (max-width: 320px) {
  html {
    font-size: 9px;
  }
}

select {
  text-align-last: right;
}

.weui-tabbar__item.router-link-exact-active {
  i, p {
    color: $primary-color;
  }
}

ul {
  padding: 0 18px;
}
